.main-content__top {
  height: 50px;
  width: 100%;
  padding: 10px;
}
.main-content__title {
  font-size: 22px;
}
.main-content__center {
  width: calc(100vw - 230px);
  height: calc(100vh - 105px);
  padding: 10px;
}
