/* Embeded Font face */

@font-face {
  font-family: "tahoma";
  src: url("@/assets/font/Tahoma_Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "tahoma";
  src: url("@/assets/font/Tahoma_Regular.woff");
  font-weight: 400;
}
