:root {
  --font-family: tahoma, arial sans-serif;

  --header-height: 55px;

  --width-dialog: 500px;
  --width-popup: 900px;
  --input-height: 24px;
  --default-table-header-height: 28px;
  --default-table-row-height: 37px;
  --toast-width: 400px;
  --toast-height: 56px;
  --sidebar-width: 230px;

  --mobile-width: 600px;
  --tablet-width: 1024px;

  --primary-font-size: 13px;
  --second-font-size: 24px;
  --border-radius: 4px;

  --primary-background-color: #0973b9;

  --primary-btn-bc: #2ca01c;
  --primary-btn--hover-bc: #35bf22;
  --primary-btn--active-bc: #248b15;
  --primary-btn--focus-bc: #2ca01c;

  --error-color: #cf4c35;
  --error-input-bc: #f77;
  --primary-text-color: #111;
  --border-color: #babec5;
  --primary-line-bc: #b8bcc3;
  --table-header-bc: #e5e8ec;
  --header-border-left-color: #ccc;
  --header-border-bottom-color: #a3a1a1;
  --line-hover-background-color: #f2f9ff;
  --line-selected-background-color: #e5f3ff;
  --tab-background-color: #eceef1;
  --dropdown-item-background-color: #e8e9ec;

  --border-checkbox-color: #afafaf;

  --slide-bar-background-color: #393a3d;
}
